<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controlador.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controlador.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarClientes</servlet-name>
        <servlet-class>controlador.privado.admin.BuscarClientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProveedores</servlet-name>
        <servlet-class>controlador.privado.admin.BuscarProveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesCliente</servlet-name>
        <servlet-class>controlador.privado.admin.AccionesCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesProveedor</servlet-name>
        <servlet-class>controlador.privado.admin.AccionesProveedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarClientes</servlet-name>
        <url-pattern>/babyplus/jsp/privado/admin/buscarClientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProveedores</servlet-name>
        <url-pattern>/babyplus/jsp/privado/admin/buscarProveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesCliente</servlet-name>
        <url-pattern>/babyplus/jsp/privado/admin/accionesCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesProveedor</servlet-name>
        <url-pattern>/babyplus/jsp/privado/admin/accionesProveedor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
